<div id="about-you-section">
    <div id="desktop-feature-embed">
      <div class="col-md-6">
        <div id="hswvu" class="curiosity-module" data-pym-src="//modules.wearehearken.com/vpr/en-vprnext/curiosity_modules/722"></div><script src="//assets.wearehearken.com/production/thirdparty/p.m.js"></script>
      </div>
    </div>
  <div class="col-md-6">
    <div id="about-you-title">
      <h4>This campaign is about you.</h4>
      <p><i>"The funds raised will make possible the facilities, programming, technology, and staffing necessary to keep VPR at the forefront of public media. This will provide Vermonters with the opportunity to hear, learn about, and discuss the events and ideas that will shape our world in the 21st century."</i></p>
      <p><span style="letter-spacing:2px">BOB YOUNG | VPR BOARD MEMBER</span></p>
    </div>
    <div id="about-you-action">
      <p>Join us to transform the sound of Vermont's future.</p>
    </div>
    <div class="text-center">
      <a href="https://donate.vpr.net/pages/next" target="_blank" class="btn-xl btn-danger" role="button"><b>SUPPORT VPR NEXT</b></a>
    </div>
  </div>
</div>
