<div class="row">

  <div class="col-md-12">
    <a name="learn-more"></a>
    <div id="teaser">
      <p>GOING TOWARDS:</p>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <img class="img-responsive" src="./static/img/programmingicon.png" width="300px">
    <div class="breakdown-title">
      <p>News & Programming Innovation Fund</p>
    </div>
    <div class="breakdown">
      <div class="flex-container">
        <div class="newsheader"><img class="dropdown-responsive" src="./static/img/bulletpoint-01.png" width="9px"><span> Ground-Breaking Journalism</span>
        </div>
        <div class="newscontent">
          <p>Deep, rich, compelling journalism is at the heart of VPR's mission and the core of what it does. As the digital revolution is redefining how and when VPR delivers news and information, it also provides opportunities to expand the kinds of stories our journalists cover and opens new ways for those stories to be told.<p>
              <p>• VPR will be a news leader, providing in-depth reporting in five distinct areas: energy and the environment, food and agriculture, health care, diversity and demographics, and economy and technology.</p>
              <p>• VPR will increase its role as a watchdog for the public trust, supporting more investigative reporting.</p>
              <p>• News for the digital age: VPR will grow its partnership with NPR One, a public radio “Pandora for news,” and other applications designed for the mobile age. VPR will be a full partner in the growing NPR digital network and will share Vermont stories and features with NPR that will travel to a national audience.</p>
              <p>• VPR will add to its suite of original podcasts while expanding its network of partner podcasts to fully leverage this medium and attract new audiences.</p>
              <p>• The Innovation Fund will provide seed money to enhance and expand local content, and enable VPR to innovate, take risks, and respond to opportunities when they arise.</p>
        </div>
      </div>
      <div class="flex-container">
        <div class="musicheader"><img class="dropdown-responsive" src="./static/img/bulletpoint-01.png" width="9px"><span> Contemporary, Vermont-Focused Music</span>
        </div>
        <div class="musiccontent">
          <p>VPR looks forward to shining a spotlight on local music to feature emerging and established contemporary artists and bands, expanding upon our celebrated jazz, classical, and folk offerings.<p>
              <p>• VPR will introduce listeners to new artists – contemporary musicians creating original work in popular genres that include rock, folk, acoustic, country, blues, and more.</p>
              <p>• Listeners will learn about concerts in the area, hear interviews with artists, and enjoy live performances from VPR studios.</p>
              <p>• Exposure on VPR will provide local artists with some of their earliest and most ardent fans, which in turn can drive sales of their music, concert attendance, and support the local music economy.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <img class="img-responsive" src="./static/img/facilitiesicon.png" width="300px">
    <div class="breakdown-title">
      <p>Facility Upgrades & Expansion</p>
    </div>

    <div class="breakdown">
      <div class="flex-container">
        <div class="buildingheader"><img class="dropdown-responsive" src="./static/img/bulletpoint-01.png" width="9px"><span> VPR News Center</span>
        </div>
        <div class="buildingcontent">
          <p>For the first time, VPR’s news and programming staff will work together in an open and collaborative space. The flexible floor plan fosters collaboration among our journalists, digital team, and Vermont Edition staff, resulting in better, more powerful storytelling and conversation.</p>
        </div>
      </div>
      <div class="flex-container">
        <div class="studiooneheader"><img class="dropdown-responsive" src="./static/img/bulletpoint-01.png" width="9px"><span> Studio One</span>
        </div>
        <div class="studioonecontent">
          <p>Studio One, VPR’s public engagement space and performance venue, invites the public in, providing a physical gathering place that creates an important focal point for cultural enrichment in the region.<p>
              <p>• The broadcast- and live stream-ready venue will expand VPR’s capacity for programming, including music performances, lectures, panel discussions, debates, and readings, all with a live audience.</p>
              <p>• Studio One will bring the public radio experience to life with events open to the public, including TED-style talks, storytelling events inspired by The Moth, radio camps, art exhibitions, and more.</p>
              <p>• Listeners will connect in person with each other, as well as VPR hosts, reporters, and producers.</p>
        </div>
      </div>
      <div class="flex-container">
        <div class="hqheader"><img class="dropdown-responsive" src="./static/img/bulletpoint-01.png" width="9px"><span> Expansion and Restoration of VPR's Historic Headquarters</span>
        </div>
        <div class="hqcontent">
            <p>• Since VPR moved into its current location in 1995, VPR has created two distinct broadcast services, in addition to extensive digital services at VPR.net.</p>
            <p>• The original building was designed for a maximum of 27 full-time employees. As VPR’s services have expanded over the past 20 years, VPR has grown to a full- and part-time staff of more than 70.</p>
            <p>• The renovation also includes important upgrades to the historic building such as fire suppression, technology infrastructure improvements, more efficient cooling and heating systems, more bathrooms and accessibility for all visitors.</p>
        </div>
      </div>
      <div class="flex-container">
        <div class="sustainabilityheader"><img class="dropdown-responsive" src="./static/img/bulletpoint-01.png" width="9px"><span> Net Zero Sustainability Initiatives</span>
        </div>
        <div class="sustainabilitycontent">
          <p>VPR is dedicated to Vermont and to being a good steward of our environment. The renovation will make VPR’s existing facility as energy efficient as possible and the expansion will be designed to minimize energy consumption and environmental impact.</p>
            <p>• VPR has taken an environmentally responsible path by choosing to renovate and expand at our existing site in historic Fort Ethan Allen, rather than building a new headquarters from the ground up.</p>
            <p>• The construction follows the guidelines of LEED gold/platinum certification from the U.S. Green Building Council and reflects environmental sensitivity – realizing energy savings and operating cost reductions over the lifetime of the building.</p>
            <p>• More than 300 solar panels on the building’s roof generate enough power to offset the new construction.</p>
            <p>• High air quality and improved air filtration, natural daylight, indigenous trees and plants, bicycle parking, and electric vehicle charging stations will result in a healthful workplace for employees as well as the visiting public.</p>
            <p>• VPR aims to become one of the first Net Zero public media facilities in the country.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div id="pdf-teaser">
      <h5><a href="http://mediad.publicbroadcasting.net/p/vpr/files/VPR_NEXT.pdf" target="_blank">Find the full plan <u>here</u>.</a><h5>
    </div>
  </div>
</div>
