<div class="row">
  <div class="col-md-12">
    <div id="teaser">
      <p>GOING TOWARDS:</p>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <img class="img-responsive" src="./static/img/programmingicon.png" width="60%">
    <div class="breakdown-title">
      <p>I. News & Programming Innovation Fund</p>
    </div>
    <div class="breakdown">
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Enterprise and investigative <span class="text-break">reporting projects</span></p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Contemporary, Vermont-focused <span class="text-break">music service</span></p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Seed money for new local <span class="text-break">content initiatives</span></p>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <img class="img-responsive" src="./static/img/facilitiesicon.png" width="60%">
    <div class="breakdown-title">
      <p>II. Facility Upgrades & Expansion</p>
    </div>
    <div class="breakdown">
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Studio One public engagement <span class="text-break">and performance venue</span></p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Restoration of VPR's historic headquarters <span class="text-break">in Fort Ethan Allen</span></p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Essential upgrades to engineering <span class="text-break">and operations space</span></p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Net Zero sustainability initiatives</p>
    </div>
  </div>
</div>
