<div class="row">
  <div class="col-md-12">
    <div id="teaser">
      <p>GOING TOWARDS:</p>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-responsive" src="./static/img/programmingicon.png" width="60%">
    <div class="breakdown-title">
      <p>I. News & Programming Innovation Fund</p>
    </div>
    <div class="breakdown">
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Enterprise and investigative reporting projects.</p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Contemporary, Vermont-focused music service.</p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Seed money for new local content initiatives.</p>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-responsive" src="./static/img/facilitiesicon.png" width="60%">
    <div class="breakdown-title">
      <p>II. Facility Upgrades & Expansion</p>
    </div>
    <div class="breakdown">
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> VPR News Center</p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Studio One public engagement and performance venue</p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Restoration of VPR's historic headquarters in Fort Ethan Allen</p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Essential upgrades to engineering and operations space</p>
      <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Net Zero sustainability initiatives</p>
    </div>
  </div>
</div>
