  <div class="row give">
    <div class="col-md-9">
      <div id="quote">
        <p><b>"VPR is the last bastion for civil discourse in an increasingly polarized and complex society."</b></p>
      </div>
      <div id="quote-id">
        <p><span style="letter-spacing:2px">DONNA CARPENTER | PRESIDENT, BURTON SNOWBOARDS</span></p>
        <p><span style="font-weight:100">VPR Board Member Emeritus, Honorary Campaign Chair</span></p>
      </div>
    </div>
    <div class="col-md-6">
      <div id="give-action">
        <p>CONTRIBUTE TO THE VPR NEXT CAMPAIGN</p>
        <hr>
        <a href="https://donate.vpr.net/pages/next" target="_blank" class="btn-xl btn-danger" role="button"><b>SUPPORT VPR NEXT</b></a>
      </div>
    </div>
    <div class="col-md-6">
      <div id="give-action">
        <p>HAVE QUESTION ABOUT THE CAMPAIGN?</p>
        <hr>
        <a href="http://goo.gl/forms/Z6ua0X3HO50mqe9R2" target="_blank" class="btn-xl btn-success" role="button"><b>CONTACT US</b></a>
      </div>
    </div>
</div>
