<div class="row">
  <div class="col-md-6">
    <div id="next-image">
      <img class="img-responsive" src="./static/img/vpr-whats-next.png" width="40%">
    </div>
    <div id="intro-explainer">
      <p>VPR is ready to serve the community more fully than ever before.</p>
      <p>We are expanding and renovating our headquarters, allowing us to enhance our local news coverage and investigative reporting. We're also opening a public studio for live performances, debates, and community events.</p>
      <p><b>A successful campaign will get us there, but we need your help.</b></p>
    </div>
  </div>
  <div id="desktop-feature-image">
    <div class="col-md-6">
      <img class="img-responsive" src="./static/img/vpr-next-mitch.jpg">
    </div>
  </div>
</div>
