  <div class="row">
    <div class="col-md-6">
      <div id="intro-explainer">
        <p>This is your final opportunity to participate in the VPR Next Capital Campaign and have your gift matched 100% by the Jack and Dorothy Byrne Foundation.</p>
        <p>VPR Next is a $10 million campaign that will transform VPR and allow us to strengthen our service to the community through a renovated facility, programming innovation, and a public studio for convening events, discussions and music performances.</p>
        <p>With more than $9.6 million raised so far, we believe we can meet the overall goal this spring - with your help. Please, make a special gift now to help VPR continue to be a vital voice for Vermont. <span>Every dollar will be matched by the Jack and Dorothy Byrne Foundation.</span></p>
        <div id="button-intro">
          <a href="https://donate.vpr.net/pages/next" target="_blank" class="btn-xl btn-danger" role="button"><b>SUPPORT VPR NEXT</b></a>
        </div>
    </div>
    </div>
    <div class="col-md-6">
      <div id="vimeo">
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/184714995' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
      <div id="give-action-intro-buttons">
        <a href="http://digital.vpr.net/post/frequently-asked-questions-vpr-next-capital-campaign" target="_blank" class="btn-xl btn-success" role="button"><b>FAQs</b></a>
        <a href="http://www.vpr.net/inside_vpr/contact_us/" target="_blank" class="btn-xl btn-success" role="button"><b>CONTACT US</b></a>
      </div>
    </div>
  </div>
</div>
