  <div class="row">
    <div class="col-md-6">
      <div id="intro-explainer">
        <p>This is your final opportunity to participate in the VPR Next Capital Campaign and have your gift matched 100% by the Jack and Dorothy Byrne Foundation.</p>
        <p>Thanks to amazing support from our community, we are close to our $10 million goal for the VPR Next Capital Campaign.</p>
        <p>The campaign has allowed VPR to expand and renovate its facilities for better collaboration, and create a special fund that will help us innovate in programming and respond to opportunities and the changing media landscape. In just a short time, we are already seeing the impacts of the campaign.</p>
        <p>Our goal is to complete the campaign by June 30, but we need your help. Your gift to this important initiative <span>now</span> will help us evolve to better meet the needs of our region. </p>
        <div id="button-intro">
          <a href="https://donate.vpr.net/pages/next" class="btn-xl btn-danger" role="button"><b>SUPPORT VPR NEXT</b></a>
        </div>
    </div>
    </div>
    <div class="col-md-6">
      <div id="vimeo">
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://goo.gl/oJV4Rb' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
      <div id="give-action-intro-buttons">
        <a href="http://digital.vpr.net/post/vpr-next-campaign-nears-10m-goal" class="btn-xl btn-success" role="button"><b>LATEST UPDATES</b></a>
        <a href="http://www.vpr.net/inside_vpr/contact_us/" class="btn-xl btn-success" role="button"><b>CONTACT US</b></a>
      </div>
    </div>
  </div>
</div>
