<div id="mc_embed_signup">
  <form action="//vpr.us1.list-manage.com/subscribe/post?u=ab1a703905d19f426745609a0&amp;id=6e5d2587ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" style="text-align:left;" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; height: 40px; font-family: 'Montserrat', sans-serif;" placeholder="Email Address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab1a703905d19f426745609a0_6e5d2587ff" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="SIGN UP" name="subscribe" class="btn-xl btn-email" style="border-width:0px;"role="button"></div>
    </div>
  </form>
