<nav class="navbar" role="navigation">
  	<div class="navbar-header">
			<div class="col-md-6">
				<div id="vpr_logo">
	          <a class="navbar-brand" href="#"><div id="vpr_svg"></div></a>
	      </div>
			</div>
			<div class="col-md-6">
				<div class="nav-share-logos">
					<a href="https://twitter.com/vprnet" target="_blank"><img class="nav-social-responsive" src="./static/img/navbar_socialicons_twitter.png" width="35px"></a>
					<a href="https://www.facebook.com/vpr.net/" target="_blank"><img class="nav-social-responsive" src="./static/img/navbar_socialicons_facebook.png" width="35px"></a>
					<a href="https://www.instagram.com/vprnet/" target="_blank"><img class="nav-social-responsive" src="./static/img/navbar_socialicons_instagram.png" width="35px"></a>
		    </div>
			</div>
		</div>
</nav>
