<nav class="navbar" role="navigation">
	<div class="container">
  	<div class="navbar-header">
			<div class="col-md-6">
				<div id="vpr_logo">
	          <a class="navbar-brand" href="http://www.vpr.net"><div id="vpr_svg"></div></a>
	      </div>
			</div>
			<div class="col-md-6">
				<div class="nav-share-logos">
					<a href="https://twitter.com/vprnet" target="_blank"><img class="nav-social-responsive" src="./static/img/socialicons-01.png" width="45px"></a>
					<a href="https://www.facebook.com/vpr.net/" target="_blank"><img class="nav-social-responsive" src="./static/img/socialicons-02.png" width="45px"></a>
					<a href="https://www.instagram.com/vprnet/" target="_blank"><img class="nav-social-responsive" src="./static/img/socialicons-03.png" width="45px"></a>
		    </div>
			</div>
		</div>
	</div>
</nav>
