<div id="section2">
  <div class="col-md-6">
    <div id="vimeo">
      <a name="watch"></a>
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/154352827' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div id="video-title">
      <h4><b>This campaign is about you.</b></h4>
      <p>"The funds raised will make possible the facilities, programming, technology, and staffing necessary to keep VPR at the forefront of public media. This will provide Vermonters with the opportunity to hear, learn about, and discuss the events and ideas that will shape our world in the 21st century."</p>
      <p><span style="letter-spacing:2px">BOB YOUNG | VPR BOARD MEMBER</span></p>
    </div>
    <div id="video-action">
      <p>Join us to transform the sound of <span>Vermont's future.</span></p>
      <a href="https://donate.vpr.net/" target="_blank" class="btn-xl btn-danger" role="button"><b>SUPPORT VPR NEXT</b></a>
    </div>
  </div>
</div>
