<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="http://allfont.net/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css"/>
    <link href="http://allfont.net/allfont.css?fonts=montserrat-black" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <title>{% block title %}Vermont Public Radio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{{ social.description }}{% endblock %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Styles -->
{% block style %}
    <link href="{{ url_for('static', filename='css/style.css') }}?ver=0.1" rel="stylesheet">
{% endblock %}

  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  #mc_embed_signup{background:#2B333A; clear:left; font:14px; width:90%;}
  </style>

<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

{% include "_social.html" %}
{% include "_analytics.html" %}

</head>

<body>

<div id="page_container">
{% block navbar %}{% include "_navbar.html" %}{% endblock %}

{% block content %}{% endblock %}
{% block blog %}{% endblock %}

</div>

{% block footer %}
<footer>
    <div class="container">
        <div class="col-lg-6">
          <div class="email-info">
            <p>Sign up for our newsletter.</p>
          </div>
            {% include "_mailchimp.html" %}
          </div>
        </div>

        <div class="col-md-3">
          <div class="footer-info">
            <p><img class="dropdown-responsive" src="./static/img/bulletpoint-01.png" width="8px"><a href="http://digital.vpr.net" target="_blank" style="padding-left: 5px;"> LISTEN</a></p>
            <p><img class="dropdown-responsive" src="./static/img/bulletpoint-01.png" width="8px"><a href="http://goo.gl/forms/Z6ua0X3HO50mqe9R2" target="_blank" style="padding-left: 5px;"> CONTACT</a></p>
            <p><img class="dropdown-responsive" src="./static/img/bulletpoint-01.png" width="8px"><a href="https://donate.vpr.net/pages/next" target="_blank" style="padding-left: 5px;"> GIVE</a></p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="address-info">
            <p><b>Vermont Public Radio</b></p>
          </div>
          <div class="address-info-light">
            <p>365 Troy Avenue</p>
            <p>Colchester, VT 05446</p>
          </div>
        </div>
    </div>
</footer>
{% endblock %}


{% block scripts %}
{% endblock %}

<script src="{{ url_for('static', filename='js/script.js') }}?ver=0.1"></script>

{#
{% block grunt %}
<script src="//localhost:35729/livereload.js"></script>
<script type='text/javascript'>//<![CDATA[
;document.write("<script defer src='//HOST:3000/socket.io/socket.io.js'><\/script><script defer src='//HOST:3001/client/browser-sync-client.0.9.1.js'><\/script>".replace(/HOST/g, location.hostname));
//]]></script>
{% endblock %}
#}


</body>
</html>
