{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block blog %}

<div class="row">
  <div class="col-md-12">
    <div class="blog">
      <h2>VPR Receives $1M Matching Gift From The Jack & Dorothy Byrne Foundation</h2>
      <h6>by Michelle Owens | September 5, 2016</h6>
      <h5>Vermont Public Radio has received a $1 million commitment from the Jack and Dorothy Byrne Foundation in support of the VPR Next Campaign.</h5>
      <h5>The Byrne Foundation gift’s intention is to inspire members of the VPR audience to participate in the Campaign. With this announcement, all gifts to the campaign moving forward will be matched by the foundation, up to a total of $1 million. An on-air fundraiser is scheduled for September 20-24 to encourage fans of VPR to support the campaign and take advantage of this matching opportunity.</h5>
      <h5>The VPR Next Campaign aims to raise $10 million, which includes $8 million to fund an expansion and renovation of VPR headquarters in Colchester, Vt., and $2 million for an Innovation Fund that will provide the resources to enhance VPR’s programming and public service to the community.</h5>
      <h5>Dorothy Byrne is making this commitment to honor her late husband and, in part, because of his appreciation of VPR during his lifetime. “VPR was an important part of  both our lives, both at home and while traveling throughout the Upper Valley,” Byrne said.</h5>
      <h5>To date, VPR supporters have contributed nearly $8 million to support the goals of the campaign that will allow VPR to:</h5>
      <span><h5>• Be a news leader, providing in-depth and breaking news reporting in five distinct areas: energy and the environment, food and agriculture, health care, diversity and demographics, and economy and technology.</h5></span>
      <h5>• Increase its focus on investigative journalism, cementing its role as watchdog for the public trust.</h5>
      <h5>• Expand its digital footprint by becoming a full partner in the growing NPR digital network through the NPR One app, produce more data journalism projects and grow its suite of original and partner podcasts.</h5>
      <h5>• Become a public space and engage with the community like never before. The new Studio One will provide a broadcast-ready venue to bring public radio to life through musical performances, lectures, panel discussions, storytelling events, debates and much more.</h5>
      <h5>• Spotlight local music through a focus on contemporary music in popular genres like rock, folk, acoustic, country, blues and more. By partnering with artists, VPR will support the local music economy.</h5>
      <h5>“We are thrilled that the Jack and Dorothy Byrne Foundation understands the importance of this transformational project and is encouraging all listeners to support the campaign,” said Robin Turnau, president and CEO of VPR. “The successful completion of the VPR Next Campaign will ensure that VPR will continue to be a vibrant and thriving organization well into the future.”</h5>
      <h5>Due to early support of the Campaign, VPR was able to break ground on its headquarters expansion ahead of schedule in June 2015. The first phase of the project is mostly complete and the second phase, a complete renovation of the historic facility, a former cavalry hospital at Fort Ethan Allen, are nearing completion with full occupancy expected in October. Learn more about the campaign and track its progress at VPR.net/next.</h5>
      <h5>The Jack and Dorothy Byrne Foundation supports dozens of nonprofits in the Upper Valley of New Hampshire and Vermont and has been a longtime supporter of Vermont Public Radio. The late John J. (Jack) Byrne Jr. was an insurance executive and philanthropist who was called the “Babe Ruth of insurance” by Warren Buffet. He was known for rescuing GEICO from near bankruptcy in the 1970s and was inducted into the Insurance Hall of Fame in 2009. Later in his career, he formed White Mountains Insurance Group, a financial services holding company with offices in Hanover, N.H. Mr. Byrne passed away in 2013.</h5>
    </div>
  </div>
</div>

{% endblock %}
