{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block blog %}

<div class="row">
  <div class="blog">

    <div class="col-md-12">
      <h2>Vermont Public Radio Receives $1M Matching Gift From The Jack & Dorothy Byrne Foundation</h2>
          <h6>Michelle Owens | September 9, 2016</h6>
    </div>

    <div class="col-md-12">
      <img class="img-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/styles/x_large/public/201609/vpr-blog-building-studio-one.jpg" width="400px">
      <div class="photo-caption">
        <h6>Exterior of Studio One, VPR's public engagement and performance venue | Wiemann Lamphere Architects</h6>
      </div>

      <h5>We are pleased to announce that Vermont Public Radio has received a $1 million commitment from the Jack and Dorothy Byrne Foundation in support of the VPR Next Campaign.</h5>
      <h5>The Byrne Foundation gift is intended to inspire members of the VPR audience to participate in the campaign. As of this announcement, all gifts to the campaign moving forward will be matched dollar for dollar by the foundation, up to a total of $1 million. You’ll hear more about the match during an on-air fundraiser for the campaign September 20-24.</h5>
      <h5>Dorothy Byrne is making this commitment to honor her late husband and in part, because of his appreciation of VPR during his lifetime. “VPR was an important part of  both our lives, both at home and while traveling throughout the Upper Valley,” Byrne said.</h5>

      <img class="img-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/styles/x_large/public/201609/vpr-blog-building-newsroom.jpg" width="400px">
      <div class="photo-caption">
        <h6>The VPR News Center | Wiemann Lamphere Architects</h6>
      </div>

      <h5>To date, VPR supporters have contributed nearly $8 million to support the goals of the campaign that will allow VPR to:</h5>
      <span><h5>• Be a news leader, providing in-depth and breaking news reporting in five distinct areas: energy and the environment, food and agriculture, health care, diversity and demographics, and economy and technology.</h5></span>
      <span><h5>• Increase its focus on investigative journalism, cementing its role as watchdog for the public trust.</h5></span>
      <span><h5>• Expand its digital footprint by becoming a full partner in the growing NPR digital network through the NPR One app, produce more data journalism projects, and grow its suite of original and partner podcasts.</h5></span>
      <span><h5>• Become a public space and engage with the community like never before. The new Studio One will provide a broadcast-ready venue to bring public radio to life through musical performances, lectures, panel discussions, storytelling events, debates, and much more.</h5></span>
      <span><h5>• Spotlight local music through a focus on contemporary music in popular genres like rock, folk, acoustic, country, blues and more. By partnering with artists, VPR will support the local music economy.</h5></span>
      <h5>“We are thrilled that the Jack and Dorothy Byrne Foundation understands the importance of this transformational project and is encouraging all listeners to support the campaign,” said Robin Turnau, VPR president and CEO. “The successful completion of the VPR Next Campaign will ensure that VPR will continue to a vibrant and thriving organization well into the future.”</h5>
      <h5>Due to early support of the Campaign, VPR was able to break ground on its headquarters expansion ahead of schedule in June 2015. The first phase of the project is mostly complete and the second phase, a complete renovation of the historic facility, a former cavalry hospital at Fort Ethan Allen, are nearing completion with full occupancy expected in October.</h5>

      <img class="img-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/styles/x_large/public/201609/vpr-blog-building-aerial.jpg" width="400px">
      <div class="photo-caption">
        <h6>Aerial view of construction | Wiemann Lamphere Architects</h6>
      </div>

      <h5>The Jack and Dorothy Byrne Foundation supports dozens of nonprofits in the Upper Valley of New Hampshire and Vermont and has been a longtime supporter of Vermont Public Radio. The late John J. (Jack) Byrne Jr. was an insurance executive and philanthropist who was called the “Babe Ruth of insurance” by Warren Buffet. He was known for rescuing GEICO from near bankruptcy in the 1970s and was inducted into the Insurance Hall of Fame in 2009. Later in his career, he formed White Mountains Insurance Group, a financial services holding company with offices in Hanover, N.H. Mr. Byrne passed away in 2013.</h5>

      <img class="img-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/styles/x_large/public/201609/vpr-blog-building-lobby.jpg" width="400px">
      <div class="photo-caption">
        <h6>VPR lobby and Studio One control room | Wiemann Lamphere Architects</h6>
      </div>

      <p><a href="{{url_for('index')}}"><img class="dropdown-responsive" src="./static/img/vpr-learn-more.png" width="30px"><span style="color:#DD503F;letter-spacing:2px;font-weight:700;"> Back to VPR Next Home</a></span></p></br>

  </div>
</div>

{% endblock %}
